In [3]:
import pandas as pd
import numpy as np

ufos = pd.read_csv('/content/ufos.csv')
ufos.head()

           datetime                  city  ...   latitude   longitude
0  10/10/1949 20:30            san marcos  ...  29.883056  -97.941111
1  10/10/1949 21:00          lackland afb  ...  29.384210  -98.581082
2  10/10/1955 17:00  chester (uk/england)  ...  53.200000   -2.916667
3  10/10/1956 21:00                  edna  ...  28.978333  -96.645833
4  10/10/1960 20:00               kaneohe  ...  21.418056 -157.803611

[5 rows x 11 columns]

In [4]:
ufos = pd.DataFrame({'Seconds':ufos['duration (seconds)'],'Country':ufos['country'],'Latitude': ufos['latitude'],'Longitude': ufos['longitude']})
ufos.head

<bound method NDFrame.head of        Seconds Country   Latitude   Longitude
0       2700.0      us  29.883056  -97.941111
1       7200.0     NaN  29.384210  -98.581082
2         20.0      gb  53.200000   -2.916667
3         20.0      us  28.978333  -96.645833
4        900.0      us  21.418056 -157.803611
...        ...     ...        ...         ...
80327    600.0      us  36.165833  -86.784444
80328   1200.0      us  43.613611 -116.202500
80329   1200.0      us  38.297222 -122.284444
80330      5.0      us  38.901111  -77.265556
80331   1020.0      us  35.652778  -97.477778

[80332 rows x 4 columns]>

In [5]:
ufos.Country.unique()

array(['us', nan, 'gb', 'ca', 'au', 'de'], dtype=object)

In [6]:
ufos.dropna(inplace=True)

In [8]:
ufos.shape

(70662, 4)

In [29]:
con = ufos.Country.unique()

In [12]:
ufos = ufos[(ufos['Seconds']>=1) & (ufos['Seconds']<=60)]
ufos.shape

(25863, 4)

In [13]:
ufos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 25863 entries, 2 to 80330
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Seconds    25863 non-null  float64
 1   Country    25863 non-null  object
 2   Latitude   25863 non-null  float64
 3   Longitude  25863 non-null  float64
dtypes: float64(3), object(1)
memory usage: 1010.3+ KB

In [14]:
from sklearn.preprocessing import LabelEncoder

ufos['Country'] = LabelEncoder().fit_transform(ufos['Country'])

ufos.head()

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

    Seconds  Country   Latitude   Longitude
2      20.0        3  53.200000   -2.916667
3      20.0        4  28.978333  -96.645833
14     30.0        4  35.823889  -80.253611
23     60.0        4  45.582778 -122.352222
24      3.0        3  51.783333   -0.783333

In [16]:
from sklearn.model_selection import train_test_split
Selected_features = ['Seconds','Latitude','Longitude']
X = ufos[Selected_features]
y = ufos['Country']

In [17]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

In [18]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [20]:
model = LogisticRegression()
model.fit(X_train, y_train)
y_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [22]:
print(classification_report(y_test, y_pred))
print('Predicted labels: ', y_pred)
print('Accuracy: ', accuracy_score(y_test, y_pred))

              precision    recall  f1-score   support

           0       1.00      1.00      1.00        34
           1       0.86      0.10      0.18       255
           2       1.00      0.71      0.83         7
           3       0.99      1.00      0.99       150
           4       0.95      1.00      0.98      4727

    accuracy                           0.95      5173
   macro avg       0.96      0.76      0.80      5173
weighted avg       0.95      0.95      0.94      5173

Predicted labels:  [4 4 4 ... 4 4 4]
Accuracy:  0.9543785037695728

In [25]:
import pickle
model_filename = 'ufo-model.pkl'
pickle.dump(model, open(model_filename,'wb'))

In [27]:
import warnings
warnings.filterwarnings('ignore')

In [28]:
model = pickle.load(open('ufo-model.pkl','rb'))
print(model.predict([[50,44,-12]]))

[3]